.contact-card-text1 {
  color: #000000;
  text-align: center;
  font-size: 22px;
}

.contact-card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 400px;
  height: 160px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}

.contact-card-text2 {
  color: #1c1212;
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 490;
}

.contact-card-title {
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #130d0d;
  line-height: 1.2;
}

.contact-card-icon {
  color: #e32c2c;
  font-size: 75px;
  line-height: 1;
  padding-bottom: 30px;
  padding-top: 10px;
}

.contact-card-container {
  padding-left: 150px;
  padding-right: 150px;
}

.contact-form-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
}

.map-container iframe {
  margin-right: 0px;
}

.text-field {
  border-radius: 25px;
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.contact-form {
  padding-left: 0px;
  padding-top: 15px;
}

.get-in-touch-button {
  color: #fff;
  background: #ff4d6f;
  text-align: left;
  padding: 5px 5px 5px 28px;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: bold;
  letter-spacing: 0;
  cursor: pointer;
  border: 1px solid transparent;
  outline: 0;
  position: relative;
  font-family: "Red Hat Display", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 8px 8px 18px 0px rgba(255, 77, 111, 0.3);
}

.arrow-icon {
  background-color: #ffffff;
  color: #fe4c1c;
  border-radius: 50px;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 14px;
}

/* Contact form placeholder text color */
.contact-form .text-field::placeholder {
  color: #888888;
  opacity: 1;
}
