/* Second row */

.search-engine-optimization-sec {
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 100px;
  font-family: "Red Hat Display", sans-serif;
}

.search-engine-optimization-sec-row-card {
  padding-bottom: 40px;
}

.search-engine-optimization-sec-row-card-content-left h5,
.search-engine-optimization-sec-row-card-content-right h5 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  color: #1a1b1e;
}

.search-engine-optimization-sec-row-card-content-left p,
.search-engine-optimization-sec-row-card-content-right p {
  font-size: 14px;
  color: #606060;
  line-height: 1.875;
  font-weight: 400;
}

.search-engine-optimization-sec-row-card-icon {
  color: #00c3ff;
  background-color: #ffffff;
  text-align: center;
  line-height: 61px;
  font-size: 25px;
  border-radius: 50px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  box-shadow: 8px 8px 16px 0px rgba(50, 197, 242, 0.2);
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}

.search-engine-optimization-sec-row-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.search-engine-optimization-sec-row-card-image img {
  width: 100%;
  max-width: 550px;
  height: auto;
  border: none;
  border-radius: 0;
  position: relative;
}

.search-engine-optimization-sec-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Third row */

.search-engine-optimization-thi {
  padding-left: 180px;
  padding-right: 180px;
  position: relative;
  bottom: -160px;
  z-index: 1;
}

.search-engine-optimization-thi-background-color {
  background: linear-gradient(145deg, #0039e4, #04dbf1);
  border-radius: 15px;
  box-shadow: 16px 16px 48px 8px rgba(50, 197, 242, 0.2);
}

.search-engine-optimization-thi-background-image {
  background: url("../../../images/ServicesSubPageImages/search-engine-optimization-2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;
}

.search-engine-optimization-thi h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 900;
  font-family: "Red Hat Display", sans-serif;
  line-height: 1;
  text-align: center;
  padding-bottom: 30px;
}

.search-engine-optimization-thi-form-container {
  justify-content: center;
  padding-bottom: 10px;
}

.search-engine-optimization-thi-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.search-engine-optimization-thi-form .text-field::placeholder {
  color: #7e7e7e !important;
  opacity: 1;
}

.text-field-1,
.text-field-2,
.search-engine-optimization-thi-button-div {
  flex: none;
}

.text-field-1,
.text-field-2 {
  width: 250px;
  box-shadow: none !important;
}

.search-engine-optimization-thi-button-div {
  width: 170px;
}

.text-field-1,
.text-field-2 {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  margin-right: 0;
}

.text-field-1 {
  border-radius: 35px 0px 0px 35px;
  border-right: none;
}

.text-field-2 {
  border-radius: 0px 0px 0px 0px;
  border-left: none;
  border-right: none;
}

.search-engine-optimization-thi-button-div {
  border-radius: 0px 35px 35px 0px;
  align-items: center;
  border: 1px solid #e1dfdf;
  border-left: none;
  background-color: #ffffff;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.search-engine-optimization-button-thi {
  color: #fff;
  background: #ff4d6f;
  text-align: left;
  padding: 5px 5px 5px 25px;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: bold;
  letter-spacing: 0;
  cursor: pointer;
  border: 1px solid transparent;
  outline: 0;
  font-family: "Red Hat Display", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 25px;
}

.search-engine-optimization-button-thi::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: left 0.4s ease;
  z-index: 0;
}

.search-engine-optimization-button-thi:hover::before {
  left: 100%;
}

.search-engine-optimization-button-thi:hover {
  color: white;
  background: #ff4d6f;
  border-color: #ff4d6f;
}

.search-engine-optimization-button-thi-arrow-icon {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 50px;
  font-size: 1rem !important;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 14px;
}

/* Fourth row */

.search-engine-optimization-four {
  text-align: center;
  padding-top: 300px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 100px;
  position: relative;
  background-color: #eff2fa;
}

.search-engine-optimization-dot {
  font-size: 22px;
  padding-right: 10px;
  padding-left: 10px;
}

.search-engine-optimization-four h6 {
  font-size: 14px;
  font-weight: bold;
  color: #a5b7d2;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.2;
}

.search-engine-optimization-four h2 {
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.2;
  color: #1a1b1e;
}

/* Toggle Button */
.before,
.after {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  line-height: 1.875;
}

.before-active,
.after-active {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  line-height: 1.875;
}

.before {
  color: #00c3ff;
}

.before-active {
  color: #a5b7d2;
}

.after {
  color: #a5b7d2;
}

.after-active {
  color: #0160e7;
}

.toggle-div {
  padding-left: 15px;
  padding-right: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00c3ff;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0160e7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0160e7;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.search-engine-optimization-four-card {
  position: relative;
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
  background: #fff;
  text-align: center;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 330px;
}

.search-engine-optimization-four-card-body {
  padding: 60px 15px 150px;
}

.search-engine-optimization-four-card-body h2 {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0 0 20px;
}

.search-engine-optimization-four-card-body p {
  color: #1a1b1e;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
}

.card-number-1 {
  color: #00c3ff !important;
}

.card-number-2 {
  color: rgb(1, 96, 231) !important;
}
.card-number-3 {
  color: rgb(254, 76, 28) !important;
}

.search-engine-optimization-four-card-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.search-engine-optimization-four-card-left-image,
.search-engine-optimization-four-card-right-image {
  max-width: 100%;
  height: auto;
}

.search-engine-optimization-four-card-container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.search-engine-optimization-four-card-left-image {
  position: absolute;
  left: 90px;
  top: 65%;
  transform: translateY(-50%);
  z-index: 1;
}

.search-engine-optimization-four-card-right-image {
  position: absolute;
  right: 130px;
  top: 65%;
  transform: translateY(-50%);
  z-index: 1;
}

/* Increment content */
.search-engine-optimization-increment {
  padding-top: 100px;
  padding-left: 180px;
  padding-right: 180px;
  text-align: center;
}
.span-increment-number {
  font-size: 48px;
  line-height: 1;

  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  color: #1a1b1e;
}

.span-number {
  padding-left: 60px;
}

.search-engine-optimization-increment-content h6 {
  font-size: 14px;
  color: #fe4c1c;
  margin-top: 13px;
  margin-bottom: 0;
  padding-left: 20px;
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
  font-weight: 900;
  line-height: 1.2;
  font-family: "Red Hat Display", sans-serif;
}

/* Fifth row */

.search-engine-optimization-fif {
  padding-top: 100px;
  padding-bottom: 140px;
}

.search-engine-optimization-fif-header {
  font-family: "Red Hat Display", sans-serif;
  text-align: left;
  margin-left: 180px;
}

.search-engine-optimization-fif-header h6 {
  color: #a5b7d2;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: auto;
  line-height: 1;
}

.search-engine-optimization-fif-header h2 {
  box-sizing: border-box;
  color: black;
  cursor: auto;
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
  margin: 0 0 20px;
  display: block;
}

.search-engine-optimization-fif-header p {
  color: #606060;
  font-size: 16px;
  line-height: 1.875;
}

.slick-slide img {
  border-radius: 15px;
  margin: auto;
  display: block;
  height: 300px;
  width: 500px;
}

.slick-dots li button:before {
  color: black;
}

.search-engine-optimization-fif-slider-container {
  max-width: 1400px;
}

.slider-item-container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.slider-item-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.slider-item-container:hover img {
  transform: scale(1.1);
}

.overlay h3 {
  color: #fff;
  font-family: "Red Hat Text", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1;
  text-align: left;
}

.overlay p {
  color: #95e1fa;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: left;
}

.slider-item-container .overlay {
  position: absolute;
  top: 180px;
  left: 10;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 30px 10px 30px;
  box-sizing: border-box;
  background-color: #0039e4;
  background-image: linear-gradient(90deg, #0039e4, #04dbf1);
  border-radius: 15px 0px 0px 15px;
  box-shadow: 12px 12px 30px 0px rgba(0, 57, 228, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(100%);
  color: #fff;
  width: 280px;
  height: 110px;
}

/* Hover effect */
.slider-item-container:hover .overlay {
  opacity: 1;
  transform: translateX(0);
}

/* Sixth row */

.search-engine-optimization-six-background-image {
  background: url("../../../images/ServicesSubPageImages/search-engine-optimization-11.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  border-radius: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.search-engine-optimization-six {
  padding-left: 180px;
  padding-right: 180px;
  position: relative;
  bottom: -50px;
  z-index: 1;
}

.search-engine-optimization-six h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 30px;
}

.search-engine-optimization-button-six {
  background-color: #ffffff;
  color: #fe4c1c;
  text-align: left;
  padding: 5px 5px 5px 25px;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: bold;
  letter-spacing: 0;
  cursor: pointer;
  border: 1px solid transparent;
  outline: 0;
  font-family: "Red Hat Display", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 25px;
}

.search-engine-optimization-button-six::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: left 0.4s ease;
  z-index: 0;
}

.search-engine-optimization-button-six:hover::before {
  left: 100%;
}

.search-engine-optimization-button-six:hover {
  color: #fe4c1c;
  background: #ffffff;
  border-color: #ffffff;
}

.search-engine-optimization-button-six-arrow-icon {
  background-color: #fe4c1c;
  color: #ffffff;
  border-radius: 50px;
  font-size: 1rem !important;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 14px;
}

.search-engine-optimization-six-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-engine-optimization-six-background-color {
  background: linear-gradient(to bottom, #ff4d37, #ff5351, #ff7a3d, #ff6962);
  border-radius: 15px;
  box-shadow: 16px 16px 48px 8px rgba(50, 197, 242, 0.2);
}

/* For screens with a maximum width of 767px (Mobile) */

@media only screen and (max-width: 767px) {
  /* first-row */
  .ser-sub-first {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Second-row */
  .search-engine-optimization-sec {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
  }

  .search-engine-optimization-sec-row {
    flex-direction: column;
    align-items: center;
  }

  .search-engine-optimization-sec-row-card {
    margin-bottom: 20px;
    width: 100%;
  }

  .search-engine-optimization-sec-right-row {
    padding-top: 80px;
  }

  .search-engine-optimization-sec-row-card-content-left,
  .search-engine-optimization-sec-row-card-content-right {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .search-engine-optimization-sec-row-card-content-left .col-md-8 {
    max-width: 280px;
    text-align: right;
  }

  .search-engine-optimization-sec-row-card-content-right .col-md-8 {
    max-width: 280px;
    text-align: left;
  }

  .search-engine-optimization-sec-row-card-image img {
    width: 90%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  /* Third row */
  .search-engine-optimization-thi {
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    bottom: -10;
    z-index: 1;
    margin-top: 0px;
  }

  .search-engine-optimization-thi-background-color {
    border-radius: 15px;
    box-shadow: 8px 8px 24px 4px rgba(50, 197, 242, 0.2);
  }

  .search-engine-optimization-thi-background-image {
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .search-engine-optimization-thi h2 {
    padding-bottom: 20px;
  }
  .search-engine-optimization-thi-form-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .search-engine-optimization-thi-form {
    flex-direction: column;
    align-items: center;
  }

  .text-field-1,
  .text-field-2 {
    width: 100%;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .text-field-1 {
    border-radius: 25px;
    border-right: 1px solid #e1dfdf;
  }

  .text-field-2 {
    border-radius: 25px;
    border-left: 1px solid #e1dfdf;
  }

  .search-engine-optimization-thi-button-div {
    display: none;
  }

  .search-engine-optimization-button-thi {
    font-size: 14px;
    border-radius: 25px;
    display: block !important;
  }

  .search-engine-optimization-button-thi-arrow-icon {
    font-size: 0.8rem !important;
    width: 40px;
    height: 40px;
    line-height: 30px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  /* Fourth row */
  .search-engine-optimization-four {
    padding-top: 250px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .search-engine-optimization-four h2 {
    font-size: 32px;
    line-height: 1.2;
    padding-bottom: 10px;
  }

  .search-engine-optimization-four h6 {
    font-size: 14px;
    padding-bottom: 10px;
  }

  /* Toggle Button */
  .toggle-container {
    padding-bottom: 40px;
  }

  .before,
  .after {
    font-size: 12px;
  }

  .toggle-div {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Cards */
  .search-engine-optimization-four-card-container .row {
    flex-direction: column;
  }

  .search-engine-optimization-four-card {
    width: 100%;
    margin-bottom: 30px;
    height: 320px;
  }

  .search-engine-optimization-four-card-image {
    width: 100%;
  }

  .search-engine-optimization-four-card-left-image,
  .search-engine-optimization-four-card-right-image {
    display: none;
  }

  /* Increment content */
  .search-engine-optimization-increment {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 30px;
  }

  .search-engine-optimization-increment-content {
    margin-bottom: 20px;
  }

  .search-engine-optimization-increment-content h6 {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  /* Fifth row */
  .search-engine-optimization-fif {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .search-engine-optimization-fif-header {
    margin-left: 20px;
  }

  .seo-button.seo-view-more-button {
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
  }

  .search-engine-optimization-fif-slider-container {
    max-width: 100%;
  }

  .slick-slide img {
    width: 100%;
  }

  .slider-item-container {
    border-radius: 10px;
  }

  .slider-item-container img {
    border-radius: 10px;
  }

  .slider-item-container .overlay {
    position: absolute;
    top: 80px;
    left: 10;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 30px 10px 30px;
    box-sizing: border-box;
    background-color: #0039e4;
    background-image: linear-gradient(90deg, #0039e4, #04dbf1);
    border-radius: 15px 0px 0px 15px;
    box-shadow: 12px 12px 30px 0px rgba(0, 57, 228, 0.3);
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(100%);
    color: #fff;
    width: 280px;
    height: 110px;
  }

  .slider-item-container .show-overlay {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 767px) {
  .search-engine-optimization-six {
    padding-left: 20px;
    padding-right: 20px;
  }

  .search-engine-optimization-six-background-image {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .search-engine-optimization-six h2 {
    font-size: 24px;
  }

  .search-engine-optimization-button-six {
    font-size: 16px;
    padding: 6px 6px 6px 30px;
    width: 170px;
    border-radius: 25px;
  }

  .search-engine-optimization-button-six-arrow-icon {
    width: 40px;
    height: 40px;
    line-height: 30px;
    margin-left: 20px;
  }

  .search-engine-optimization-six-button-div {
    flex-direction: column;
    align-items: center;
  }

  .search-engine-optimization-six-background-color {
    box-shadow: none;
  }
}
/* For screens with a width between 768px and 1024px (Tablet) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}
