/* Right-to-left collapse Navbar effect - Navbar container styling */
.navbar {
  position: relative;
  height: 120px;
  font-size: 15px;
  font-weight: bold;
  background: linear-gradient(to bottom, #2424a1, #7b1fa2, #f44336);
}

.navbar-collapse {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  background-color: #f8f9fa;
  z-index: 1000;
  border: none;
}

.navbar-collapse.show {
  transform: translateX(0);
}

.navbar-toggler {
  z-index: 1001;
}

.navbar-brand {
  margin-right: 100px;
  margin-left: 50px;
}

.navbar-close {
  margin-left: 200px;
  margin-top: 20px;
  font-size: 1.5rem;
}

.navbar-nav {
  margin: 0;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  padding: 0.5rem 1rem;
  color: white !important;
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-btn {
  border-radius: 30px;
  background-color: #00c3ff;
  margin-left: 30px;
  color: white;
  font-weight: bold;
}

#brand-logo {
  width: 80px;
  height: 80px;
}

/* Responsive adjustments for navbar collapse */

@media (min-width: 992px) {
  .navbar-collapse {
    position: relative;
    width: auto;
    transform: none;
    background-color: transparent;
  }

  .navbar-toggler {
    display: none;
  }
}

/* Nav-item hover effect*/

nav ul li a {
  text-decoration: none;
  position: relative;
}

nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 5px;
  background-color: #00c3ff;
  transition: width 0.2s ease-in-out;
  border-radius: 5px;
}

nav ul li a:hover::before {
  width: 100%;
}

/* Dropdown hover effect */

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  animation: slideUp 0.3s ease-in-out forwards;
}

.dropdown-menu {
  position: absolute;
  top: 230%;
  left: 0;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  transform: translateY(20px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
}

/* Dropdown-item specific styling */

.dropdown-item {
  position: relative;
  text-decoration: none;
  color: black;
}

.dropdown-item::before {
  content: none;
}

.dropdown-item:hover {
  color: red;
  margin-left: 10px;
  background-color: transparent;
}

/* Animation keyframes for sliding up dropdown menu */
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.search-icon {
  margin-left: 1rem;
  color: white;
  font-size: 1.2rem;
}
