.dropdown-header {
  padding: 10px;
}

.close {
  float: right;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  border: none !important;
  background-color: white;
  font-weight: 500;
  color: #78869b;
  cursor: pointer;
}

.close:hover {
  color: #333;
}

.navbar {
  position: relative;
  padding: 18px;
  font-size: 15px;
  font-weight: bold;
  background: linear-gradient(
    to bottom,
    rgba(7, 12, 152, 0.9),
    rgba(116, 44, 73, 0.9),
    rgba(249, 57, 4, 0.9)
  );
}

.navbar-brand {
  margin-right: 100px;
  margin-left: 35px;
}

.nav-link {
  padding: 1rem 1rem;
  color: white;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 700;
  list-style: none;
}

.nav-link:hover {
  color: white;
}

.home-link {
  color: white !important;
}

.navbar-btn {
  background-color: #00c3ff;
  color: white;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 12px 12px 30px 0px rgba(0, 139.00000000000006, 153, 0.3);
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  outline: 0;
  font-family: "Red Hat Display", sans-serif;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 10px;
}

.navbar-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 0;
}

.navbar-btn:hover::before {
  left: 100%;
}

.navbar-now-button:hover {
  color: white;
  background-color: #00c3ff;
}

#brand-logo {
  width: 80px;
  height: 80px;
  margin-right: 25px;
}

nav ul li a {
  text-decoration: none;
  position: relative;
}

nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 5px;
  background-color: #00c3ff;
  transition: width 0.2s ease-in-out;
  border-radius: 5px;
}

nav ul li a:hover::before {
  width: 100%;
}

.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
  animation: slideUp 0.3s ease-in-out forwards;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  transform: translateY(20px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-family: "Red Hat Display", sans-serif;
  color: #78869b;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-item {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 15px;
  padding-left: 30px;
  line-height: 2;
}

.dropdown-dot {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #00c3ff;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  font-size: 25px;
  line-height: 1.5;
}

.dropdown-item:hover .dropdown-dot {
  opacity: 1;
}

.dropdown-item::before {
  content: none;
}

.dropdown-item:hover {
  color: #00c3ff;
  margin-left: 10px;
  background-color: transparent;
  transition: margin-left 0.3s ease-in-out;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

/* Nested dropdown */

.dropdown-menu li {
  position: relative;
}

.dropdown-toggle-icon {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff80;
  line-height: 1;
  text-align: center;

  transition: transform 0.2s ease-in-out;
}

.large-screen {
  display: inline-block;
}

.small-screen {
  display: none;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  transform: translateY(0);
  opacity: 1;
  z-index: 1000;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.search-icon {
  margin-left: 4px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  margin-right: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile devices with a screen width 767px*/
@media only screen and (max-width: 767px) {
  .navbar {
    padding: 0px;
    display: flex;
    background-color: #338fff !important;
  }

  #brand-logo {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  /* .navbar-collapse {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: white;
    border-left: 1px solid #ddd;
    padding: 15px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
  } */

  .navbar-collapse {
    position: fixed;
    z-index: 1050; /* Increased z-index to ensure it's above other elements */
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: white;
    border-left: 1px solid #ddd;
    padding: 15px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .navbar-collapse.show {
    transform: translateX(0);
  }

  .home-link {
    color: black !important;
    padding-top: 40px;
  }

  .nav-link {
    color: rgba(17, 17, 17, 0.656) !important;
    font-family: "Red Hat Display", sans-serif;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 700;
    padding-bottom: 10px;
  }

  .navbar-collapse.show .nav-link:hover {
    color: #fe4c1c !important;
  }

  .navbar-collapse.show .dropdown-item {
    color: black;
  }

  .navbar-collapse.show .dropdown-item:hover {
    color: #fe4c1c !important;
  }

  .get-a-quote {
    display: none;
  }

  .search-icon {
    /* background-color: #f0f6ff; */
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-toggler {
    border-width: 0%;
    color: #333;
    background-color: #f0f6ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 5px;
    justify-content: center;
  }

  /* Show small-screen icons */
  .small-screen {
    display: inline-block;
  }

  /* Hide large-screen icons */
  .large-screen {
    display: none;
  }

  /* Optional: Adjust icon color for better visibility */
  .dropdown-toggle-icon.small-screen {
    color: rgba(17, 17, 17, 0.656) !important;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
}

/* Optional: Rotate the arrow when dropdown is open */

@media (min-width: 769px) {
  .close {
    display: none;
  }
}

/* Tablet devices with a screen width between 768px and 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 0px;
    display: flex;
    background-color: #338fff !important;
  }

  #brand-logo {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .navbar-collapse {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: white;
    border-left: 1px solid #ddd;
    padding: 15px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
  }

  .navbar-collapse.show {
    transform: translateX(0);
  }

  .home-link {
    color: black !important;
    padding-top: 40px;
  }

  .nav-link {
    color: rgba(17, 17, 17, 0.656) !important;
    font-family: "Red Hat Display", sans-serif;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 700;
    padding-bottom: 10px;
  }

  .navbar-collapse.show .nav-link:hover {
    color: #fe4c1c !important;
  }

  .navbar-collapse.show .dropdown-item {
    color: black;
  }

  .navbar-collapse.show .dropdown-item:hover {
    color: #fe4c1c !important;
  }

  .get-a-quote {
    display: none;
  }

  .search-icon {
    /* background-color: #f0f6ff; */
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-left: 350px;
  }

  .navbar-toggler {
    border-width: 0%;
    color: #333;
    background-color: #f0f6ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
