/* first-row */

.ser-sub {
  font-family: "Red Hat Display", sans-serif;
}

.ser-sub-first {
  background-image: url("../../images/ServicesSubPageImages/ser-sub-common-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ser-sub-first {
  display: block;
  text-align: center;
}

.ser-sub-first h1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
  color: #1a1b1e;
}

.homepage-link {
  color: #a5b7d2;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
}

.homepage-link:hover {
  color: orangered;
}

.ser-sub-first p {
  padding-top: 20px;
}

.greater-than-icon {
  color: #a5b7d2;
  vertical-align: middle;
}

.current-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  color: #1a1b1e;
}

.ser-sub-left-img,
.ser-sub-right-img {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  max-width: 600px;
  height: auto;
  padding-top: 30px;
}

.ser-sub-left-img {
  padding-left: 30px;
}

.ser-sub-right-img {
  padding-right: 50px;
}

.ser-sub-sec h6 {
  color: #074bb6;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
}

.ser-sub-sec h2 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.2;
  color: #1a1b1e;
}

.ser-sub-thi h2 {
  color: #083bcc;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  font-family: "Times New Roman", Sans-serif;
}

.ser-sub-fif h2 {
  color: #083bcc;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  font-family: "Times New Roman", Sans-serif;
}

.ser-sub-sec-content {
  text-align: left;
  padding-top: 30px;
}

.ser-sub-thi-content {
  text-align: left;
  padding-top: 30px;
}

.ser-sub-fif-content {
  text-align: left;
  padding-top: 30px;
}

.ser-sub-sec p {
  color: #606060;

  font-size: 16px;
  line-height: 1.875;
}

.ser-sub-thi p {
  color: #606060;
  font-size: 16px;
  line-height: 1.875;
}

.ser-sub-fif p {
  color: #606060;
  font-size: 16px;
  line-height: 1.875;
}

.ser-sub-dot {
  color: #074bb6;
  font-size: 20px;
  padding-right: 10px;
}

.ser-sub-sec {
  padding-left: 150px;
  padding-right: 150px;
}

.ser-sub-thi {
  padding-left: 180px;
  padding-right: 180px;
}

.ser-sub-fif {
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 20px;
}

.ser-sub-card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0px;
  margin: 10px;
  width: calc(50% - 30px);
  transition: transform 0.3s ease-in-out;
}

.ser-sub-card-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 500px;
  transition: transform 0.3s ease-in-out;
}

.ser-sub-card:hover .ser-sub-card-img {
  transform: scale(1.1);
}

.ser-sub-fourth {
  padding-top: 20px;
  padding-left: 180px;
  padding-right: 180px;
}

.ser-sub-fourth-content {
  text-align: center;
  padding: 40px 40px 40px 40px;
}

.ser-sub-card:hover .ser-sub-fourth-content h3 {
  color: #074bb6;
}

.ser-sub-fourth-content h3 {
  color: #000;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.ser-sub-fourth-content p {
  color: #606060;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
}

/* Initial state - hide and position below */
.ser-sub-des-left-img,
.ser-sub-right-img {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

/* When the element is in view, apply the slide-in animation */
.slide-in {
  opacity: 1;
  transform: translateY(0);
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.ser-sub-left-img.slide-in,
.ser-sub-right-img.slide-in {
  animation: slideInFromBottom 1s ease-out forwards;
}

.influencer-fif h3 {
  color: #083bcc;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  font-family: "Times New Roman", Sans-serif;
}

.influencer-fif {
  padding-bottom: 20px;
}

/* Media Queries */

/* Phone Devices with a Max-Width of 767px */
@media only screen and (max-width: 767px) {
  /* first-row */
  .ser-sub-first {
    display: block;
    text-align: center;
  }

  .ser-sub-first h1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    color: #1a1b1e;
  }

  .homepage-link {
    color: #a5b7d2;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
  }

  .homepage-link:hover {
    color: orangered;
  }

  .ser-sub-first p {
    padding-top: 20px;
  }

  .greater-than-icon {
    color: #a5b7d2;
    vertical-align: middle;
  }

  .current-page {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    color: #1a1b1e;
  }

  .ser-sub-left-img,
  .ser-sub-right-img {
    max-width: 100%;
    padding: 0;
    height: auto;
  }

  .ser-sub-sec {
    padding-top: 50px;
  }

  .ser-sub-sec,
  .ser-sub-thi,
  .ser-sub-fif {
    padding-left: 20px;
    padding-right: 20px;
  }

  .ser-sub-card {
    width: 100%;
    margin: 10px 0px;
  }

  .ser-sub-card-row {
    padding-left: 15px;
    padding-right: 15px;
  }

  .ser-sub-fourth {
    padding-left: 20px;
    padding-right: 20px;
  }

  .ser-sub-fourth-content {
    padding: 20px;
  }

  .ser-sub-card-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }
}

/* For screens with a width between 768px and 1024px (Tablet) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* first-row */
  .ser-sub-first {
    display: block;
    text-align: center;
  }

  .ser-sub-first h1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    color: #1a1b1e;
  }

  .homepage-link {
    color: #a5b7d2;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
  }

  .homepage-link:hover {
    color: orangered;
  }

  .ser-sub-first p {
    padding-top: 20px;
  }

  .greater-than-icon {
    color: #a5b7d2;
    vertical-align: middle;
  }

  .current-page {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    color: #1a1b1e;
  }

  .ser-sub-left-img,
  .ser-sub-right-img {
    max-width: 100%;
    padding: 0;
    height: auto;
  }

  .ser-sub-sec {
    padding-top: 50px;
  }

  .ser-sub-sec-content {
    padding-top: 0px;
  }

  .ser-sub-thi {
    padding-top: 50px;
  }

  .ser-sub-thi-content {
    padding-top: 0px;
  }

  .ser-sub-sec,
  .ser-sub-thi,
  .ser-sub-fif {
    padding-left: 30px;
    padding-right: 30px;
  }

  .ser-sub-fourth {
    padding-left: 40px;
    padding-right: 20px;
  }

  .ser-sub-fourth-content {
    padding: 20px;
  }

  .ser-sub-card-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }
}
