/* Header styles for the services section */
.services {
  background-color: #1459ba;
}
.spacer {
  height: 70px;
}

.services-header {
  color: #0ec6ff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

/* Title styles for the services section */
.services-title {
  position: relative;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.2;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

/* Card title styles for each service */
.services-card-title {
  margin-bottom: 14px;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.2;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

/* Text styles for the descriptions inside each service card */
.services-text {
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
  color: #c5ddff;
  text-align: center;
}

/* Styles for the service card container */
.services-card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 50px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  border-radius: 25px;
  background-color: #1459ba;
}

/* Styles for the row containing the service cards */
.services-card-row {
  margin-left: 60px;
  margin-right: 60px;
  justify-content: center;
}

/* Additional styles for the card body */
.services-card-body {
  margin-top: 30px;
}

/* Styles for the decorative dots in the header */
.services-dot {
  color: #0ec6ff;
  font-size: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Animation styles for zoom-in effect on cards */
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Keyframes for zoom-in animation (WebKit-specific) */
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

/* Keyframes for zoom-in animation */
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

/*  */
.services-card-icon {
  font-size: 40px;
  line-height: 1;
  font-family: Flaticon;
  color: #0ec6ff;
}
