/* SEO Section Container */
.seo {
  padding-bottom: 320px;
  /* position: relative; */
}

/* Sub-heading styling */
.seo-sub-heading {
  color: #0ec6ff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: auto;
  line-height: 1.2;
  font-family: "Red Hat Display", sans-serif;
  text-align: left;
  margin-left: 200px;
}

/* Main heading styling */
.seo-heading {
  position: relative;

  box-sizing: border-box;
  color: #fff;
  cursor: auto;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0 0 20px;
  font-family: "Red Hat Display", sans-serif;
  display: block;
  text-align: left;
  margin-left: 200px;
}

/* Card title styling */
.seo-card-title {
  color: #ffffff;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0 0 20px;
  font-family: "Red Hat Display", sans-serif;
  display: block;
  text-align: center;
}

/* SEO Card Container */
.seo-card {
  position: relative;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  background-color: #1459ba;
  border-radius: 20px;
  border: 0.5px solid #5e9dfc;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 160px;
  margin: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Seo-card hover effect */
.seo-card:hover {
  color: white;
  background-color: #fe4c1c;
}

/* Active Card Styling */
.seo-card.active {
  background-color: #fe4c1c;
  border-color: #fe4c1c;
}

/* Triangle indicator for active card */
.seo-card.active:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fe4c1c;
}

/* Card icon styling */
.seo-card-icon {
  box-shadow: 6px 6px 13px 0px rgba(42, 67, 113, 0.2);
  border-radius: 50%;
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  margin-left: 50px;
  margin-bottom: 20px;
}

/* Card Row Container */
.seo-card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Button Styling */
.seo-button {
  color: #fff;
  text-align: left;
  padding: 5px 4px 5px 28px;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  margin-top: 70px;
  margin-left: 120px;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: bold;
  letter-spacing: 0;
  cursor: pointer;
  border: 1px solid transparent;
  outline: 0;
  position: relative;
  font-family: "Red Hat Display", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 25px;
  width: 180px;
}

/* View More Button Styling */
.seo-view-more-button {
  background: #fe4c1c;
  padding-left: 35px;
}

/* Learn More Button Styling */
.seo-learn-more-button {
  background: #0ec6ff;
  width: 180px;
}

/* Button Hover Effects */
.seo-view-more-button::before,
.seo-learn-more-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: left 0.4s ease;
  z-index: 0;
}

.seo-view-more-button:hover::before,
.seo-learn-more-button:hover::before {
  left: 100%;
}

.seo-view-more-button:hover {
  color: white;
  background-color: #fe4c1c;
  border-color: #fe4c1c;
}

.seo-learn-more-button:hover {
  color: white;
  background-color: #0ec6ff;
  border-color: #0ec6ff;
}

/* Arrow Icon Styling */
.seo-arrow-icon {
  background-color: #ffffff;
  border-radius: 50px;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 16px;
}

/* Arrow Icon - View More Button */
.seo-view-more-arrow-icon {
  color: #fe4c1c;
}

/* Arrow Icon - Learn More Button */
.seo-learn-more-arrow-icon {
  color: #0ec6ff;
}

/* Dot Icon Styling */
.seo-dot {
  color: #0ec6ff;
  font-size: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Bottom Section Heading */
.seo-bottom-heading {
  color: #ffffff;
  font-weight: 900;
  font-family: "Red Hat Display", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  font-size: 36px;
  display: block;
}

/* Description Text Styling */
.seo-description {
  box-sizing: border-box;
  margin: 0 0 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  color: #c5ddff;
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  line-height: 1.875;
}

/* Image Styling */
.seo-image {
  width: 500px;
  margin-left: 50px;
}

/* Learn More Button Position */
.seo-learn-more-button {
  margin-left: 180px;
  margin-top: 40px;
}

/* Bottom Content Margin */
.seo-bottom-content {
  margin-left: 180px;
  margin-right: 50px;
}

/* Bottom Section Padding */
.seo-bottom-row {
  padding-top: 80px;
  position: relative;
}

/* Background Images and Styling */
.seo-background-image {
  background-image: url("../../images/seo-bottom.png"),
    url("../../images/seo-left.png");
  background-color: #1458b9;
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, scroll;
  background-position: center bottom, 0 15%;
  background-size: 1600px 800px, 160px 260px;
}

/* Responsive style for Mobile devices less than 767px*/

@media only screen and (max-width: 767px) {
  .seo {
    padding-top: 10px;
    padding-bottom: 100px;
  }

  .seo-sub-heading {
    margin-left: 35px;
    font-size: 14px;
  }

  .seo-heading {
    margin-left: 45px;
    font-size: 24px;
    margin-bottom: 10px !important;
  }

  .seo-card-title {
    font-size: 20px;
    text-align: center;
  }

  .seo-card {
    width: 90%;
    max-width: 350px;
    height: 130px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
  }

  .seo-card-icon {
    margin-left: 0;
    font-size: 30px;
  }

  .seo-card-row {
    flex-direction: column;
    align-items: center;
  }

  .seo-button {
    margin-left: 45px;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    width: 160px;
    text-align: center;
    margin-bottom: 10px;
  }

  .seo-view-more-button {
    font-size: 14px;
    padding: 5px 5px 5px 20px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
  }

  .seo-learn-more-button {
    font-size: 14px;
    padding: 5px 5px 5px 20px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
  }

  .seo-bottom-heading {
    font-size: 28px;
    margin-left: 20px;
  }

  .seo-description {
    font-size: 14px;
    margin-left: 20px;
    line-height: 2;
  }

  .seo-image {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  .seo-learn-more-button {
    margin-left: 20px;
    margin-top: 20px;
  }

  .seo-bottom-content {
    margin-left: 0;
    margin-right: 0;
  }

  .seo-background-image {
    background-image: url("../../images/seo-bottom-phone.png");
    background-size: cover;
    background-position: bottom;
    background-size: 400px 800px;
  }

  .seo-card-row {
    margin: 0;
  }

  .seo-card-row {
    flex-wrap: wrap;
  }
  .seo-card {
    width: calc(50% - 15px);
    margin: 7.5px;
    margin-bottom: 15px;
  }
}

/* Responsive style for Tablet devices screens between 768px and 1024px */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .col-md-8 {
    flex: 0 0 auto;
    width: 100%;
  }

  .seo-bottom-left,
  .seo-bottom-right {
    flex: 0 0 auto;
    width: 100%;
  }

  .seo {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .seo-sub-heading {
    margin-left: 35px;
    font-size: 14px;
  }

  .seo-heading {
    margin-left: 45px;
    font-size: 35px;
    margin-bottom: 10px;
    margin-right: 0px;
    line-height: 1.2;
  }

  .seo-card-title {
    font-size: 24px;
    text-align: center;
  }

  .seo-card {
    width: calc(33.333% - 15px);
    margin: 7.5px;
    margin-bottom: 10px;
  }

  .seo-card-icon {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .seo-card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .seo-button {
    margin-left: 40px;
    margin-top: 0px;
    max-width: 150px;
    padding: 10px 10px 10px 20px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }

  .seo-view-more-button,
  .seo-learn-more-button {
    font-size: 14px;
    width: 150px;
  }

  .seo-arrow-icon {
    font-size: 1rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .seo-dot {
    font-size: 20px;
  }

  .seo-bottom-heading {
    font-size: 28px;
    padding-left: 10px;
  }

  .seo-description {
    width: 100%;
    height: auto !important;
    font-size: 16px;
    line-height: 2;
    padding-left: 10px;
  }

  .seo-image {
    width: 100%;
    height: auto !important;
    margin-left: 0px;
  }

  .seo-learn-more-button {
    margin-left: 30px;
    margin-top: 5px;
  }

  .seo-bottom-content {
    margin-left: 20px;
    margin-right: 20px;
  }

  .seo-bottom-row {
    padding-top: 50px;
  }

  .seo-background-image {
    background-image: url("../../images/seo-bottom.png");
    background-size: cover;
    background-position: bottom;
    background-size: 800px 500px;
  }
}

.slick-slide {
  padding: 0 10px;
}

.slick-dots {
  bottom: 10px;
}
