/* Second row */

.hire-developers-sec {
  padding-left: 220px;
  padding-right: 220px;
  padding-top: 50px;
}

/* Third row */

.hire-developers-thi {
  padding-top: 100px;
  padding-left: 180px;
  padding-right: 180px;
}

.hire-developers-thi-header {
  text-align: center;
}

.hire-developers-thi-header h2 {
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  font-family: "Lato", Sans-serif;
  font-size: 28px;
}

.hire-developers-dot-dash-line {
  color: #074bb6;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.hire-developers-decorative-dot {
  font-size: 30px;
  margin-top: 0px;
  padding-top: 0px;
  line-height: 1;
}

.hire-developers-decorative-line {
  display: inline-block;
  padding-top: 0px;
  width: 80px;
  height: 4px;
  background-color: #074bb6;
  margin-left: 5px;
}

.hire-developers-thi-card {
  padding: 10px 10px 10px 10px;
  border: 1px solid #ddd;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  position: relative;
  background-color: #fff;
  z-index: 1;
  transition: all 0.3s ease;
}

.hire-developers-thi-card:hover {
  background-image: url("../../images/HireDeveloperImages/HireDeveloper-1.png");
  background-size: cover;
  background-position: center;
}

.hire-developers-thi-card:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 75, 182, 0.8); /* Overlay */
  z-index: -1;
}

.hire-developers-thi-card:hover h3,
.hire-developers-thi-card:hover p,
.hire-developers-thi-card:hover .hire-developers-thi-card-icon {
  color: #fff;
}

.hire-developers-thi-card-body {
  display: flex;
}

.hire-developers-thi-card-icon {
  font-size: 40px;
  margin-right: 20px;
}

.hire-developers-thi-card-content {
  flex: 1;
}

.hire-developers-thi-card h3 {
  padding: 0px 0px 0px 0px;
  color: #000000;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0 0 20px;
  font-family: "Red Hat Display", sans-serif;
}

.hire-developers-thi-card p {
  color: #565656;
  margin: 0px 0px 0px 0px;
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
}

/* Fourth row  */

.hire-developers-four {
  padding-left: 180px;
  padding-right: 180px;
  background-color: #f7f9fb;
  padding-top: 50px;
}

.hire-developers-four-card {
  padding: 10px 10px 10px 10px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  position: relative;
  background-color: #fff;
  height: 120px;
}

.hire-developers-four-card-body {
  display: flex;
}

.hire-developers-four-card-icon {
  font-size: 45px;
  margin-right: 20px;
}

.hire-developers-four-card-content {
  flex: 1;
}

.hire-developers-four-card h3 {
  padding-top: 20px;
  color: #000000;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
  font-family: "Red Hat Display", sans-serif;
}

.hire-developers-four-card:hover .hire-developers-four-card-icon {
  color: #007bff;
}

.hire-developers-four-card:hover .hire-developers-four-card-content h3 {
  color: #007bff;
}

.hire-developers-four-card:hover {
  border: 1px solid #007bff;
}

/* Fifth row */
.hire-developers-fif {
  padding-top: 50px;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 50px;
}

.hire-developers-fif-card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 10px 10px 10px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  text-align: center;
  padding-bottom: 40px;
}

.hire-developers-fif-card-body {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hire-developers-fif-card-content h3 {
  margin: 3px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
  font-family: "Red Hat Display", sans-serif;
}

.hire-developers-fif-card .icon {
  height: 80px;
  padding: 15px 15px 15px 15px;
  transform: rotate(0deg);
  width: 80px;
  line-height: 53px;
  border-radius: 100px 100px 100px 100px;
  text-align: center !important;
  display: flex;
  justify-content: center;
}

.hire-developers-fif-card-icon {
  font-size: 45px;
  color: #fff;
}

.hire-developers-fif-card .icon-1 {
  background-color: #2575fc;
}

.hire-developers-fif-card .icon-2 {
  background-color: #6a11cb;
}
.hire-developers-fif-card .icon-3 {
  background-color: #06b37c;
}

.hire-developers-fif-card .icon-4 {
  background-color: #0706b3;
}
.hire-developers-fif-card .title-1 {
  color: #2575fc;
}

.hire-developers-fif-card .title-2 {
  color: #6a11cb;
}
.hire-developers-fif-card .title-3 {
  color: #06b37c;
}
.hire-developers-fif-card .title-4 {
  color: #0706b3;
}

.hire-developers-fif-card:hover .icon-1 .hire-developers-fif-card-icon {
  color: #2575fc;
}

.hire-developers-fif-card:hover .icon-2 .hire-developers-fif-card-icon {
  color: #6a11cb;
}

.hire-developers-fif-card:hover .icon-3 .hire-developers-fif-card-icon {
  color: #06b37c;
}

.hire-developers-fif-card:hover .icon-4 .hire-developers-fif-card-icon {
  color: #0706b3;
}

.hire-developers-fif-card:hover .icon {
  background-color: white;
}

.hire-developers-fif-card:hover .icon-1 {
  border: 1px solid #2575fc;
}
.hire-developers-fif-card:hover .icon-2 {
  border: 1px solid #6a11cb;
}
.hire-developers-fif-card:hover .icon-3 {
  border: 1px solid #06b37c;
}
.hire-developers-fif-card:hover .icon-4 {
  border: 1px solid #0706b3;
}

/* Sixth row */

.hire-developers-six {
  padding-top: 50px;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 50px;
}

.hire-developers-six-card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 10px 10px 10px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  text-align: center;
  padding-bottom: 40px;
}

.hire-developers-six-card-body {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hire-developers-six-card-content h3 {
  margin: 3px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
  font-family: "Red Hat Display", sans-serif;
}

.hire-developers-six-card .icon {
  height: 80px;
  padding: 15px 15px 15px 15px;
  transform: rotate(0deg);
  width: 80px;
  line-height: 53px;
  border-radius: 100px 100px 100px 100px;
  text-align: center !important;
  display: flex;
  justify-content: center;
}

.hire-developers-six-card-icon {
  font-size: 45px;
  color: #fff;
}

.hire-developers-six-card .icon-1 {
  background-color: #2575fc;
}

.hire-developers-six-card .icon-2 {
  background-color: #6a11cb;
}

.hire-developers-six-card .icon-3 {
  background-color: #06b37c;
}

.hire-developers-six-card .icon-4 {
  background-color: #ce25fc;
}

.hire-developers-six-card .icon-5 {
  background-color: #6a11cb;
}

.hire-developers-six-card .icon-6 {
  background-color: #06b37c;
}

.hire-developers-six-card .title-1 {
  color: #2575fc;
}

.hire-developers-six-card .title-2 {
  color: #6a11cb;
}
.hire-developers-six-card .title-3 {
  color: #06b37c;
}
.hire-developers-six-card .title-4 {
  color: #0706b3;
}

.hire-developers-six-card .title-5 {
  color: #6a11cb;
}
.hire-developers-six-card .title-6 {
  color: #06b37c;
}

.hire-developers-six-card:hover .icon-1 .hire-developers-six-card-icon {
  color: #2575fc;
}

.hire-developers-six-card:hover .icon-2 .hire-developers-six-card-icon {
  color: #6a11cb;
}

.hire-developers-six-card:hover .icon-3 .hire-developers-six-card-icon {
  color: #06b37c;
}

.hire-developers-six-card:hover .icon-4 .hire-developers-six-card-icon {
  color: #0706b3;
}

.hire-developers-six-card:hover .icon-5 .hire-developers-six-card-icon {
  color: #6a11cb;
}

.hire-developers-six-card:hover .icon-6 .hire-developers-six-card-icon {
  color: #06b37c;
}

.hire-developers-six-card:hover .icon {
  background-color: white;
}

.hire-developers-six-card:hover .icon-1 {
  border: 1px solid #2575fc;
}

.hire-developers-six-card:hover .icon-2 {
  border: 1px solid #6a11cb;
}

.hire-developers-six-card:hover .icon-3 {
  border: 1px solid #06b37c;
}

.hire-developers-six-card:hover .icon-4 {
  border: 1px solid #0706b3;
}

.hire-developers-six-card:hover .icon-5 {
  border: 1px solid #6a11cb;
}

.hire-developers-six-card:hover .icon-6 {
  border: 1px solid #06b37c;
}

/* Seventh row */

.hire-developers-seven {
  padding-top: 50px;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 50px;
}

.hire-developers-seven-card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 10px 10px 10px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  text-align: center;
  padding-bottom: 40px;
}

.hire-developers-seven-card-body {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hire-developers-seven-card-content h3 {
  margin: 3px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
  font-family: "Red Hat Display", sans-serif;
}

.hire-developers-seven-card .icon {
  height: 80px;
  padding: 15px 15px 15px 15px;
  transform: rotate(0deg);
  width: 80px;
  line-height: 53px;
  border-radius: 100px 100px 100px 100px;
  text-align: center !important;
  display: flex;
  justify-content: center;
}

.hire-developers-seven-card-icon {
  font-size: 45px;
  color: #fff;
}

.hire-developers-seven-card .icon-1 {
  background-color: #2575fc;
}

.hire-developers-seven-card .icon-2 {
  background-color: #6a11cb;
}

.hire-developers-seven-card .icon-3 {
  background-color: #06b37c;
}

.hire-developers-seven-card .icon-4 {
  background-color: #ce25fc;
}

.hire-developers-seven-card .icon-5 {
  background-color: #6a11cb;
}

.hire-developers-seven-card .title-1 {
  color: #2575fc;
}

.hire-developers-seven-card .title-2 {
  color: #6a11cb;
}
.hire-developers-seven-card .title-3 {
  color: #06b37c;
}
.hire-developers-seven-card .title-4 {
  color: #0706b3;
}

.hire-developers-seven-card .title-5 {
  color: #6a11cb;
}

.hire-developers-seven-card:hover .icon-1 .hire-developers-seven-card-icon {
  color: #2575fc;
}

.hire-developers-seven-card:hover .icon-2 .hire-developers-seven-card-icon {
  color: #6a11cb;
}

.hire-developers-seven-card:hover .icon-3 .hire-developers-seven-card-icon {
  color: #06b37c;
}

.hire-developers-seven-card:hover .icon-4 .hire-developers-seven-card-icon {
  color: #0706b3;
}

.hire-developers-seven-card:hover .icon-5 .hire-developers-seven-card-icon {
  color: #6a11cb;
}

.hire-developers-seven-card:hover .icon {
  background-color: white;
}

.hire-developers-seven-card:hover .icon-1 {
  border: 1px solid #2575fc;
}

.hire-developers-seven-card:hover .icon-2 {
  border: 1px solid #6a11cb;
}

.hire-developers-seven-card:hover .icon-3 {
  border: 1px solid #06b37c;
}

.hire-developers-seven-card:hover .icon-4 {
  border: 1px solid #0706b3;
}

.hire-developers-seven-card:hover .icon-5 {
  border: 1px solid #6a11cb;
}

/* Eighth row */

.hire-developers-eight {
  padding-top: 50px;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 50px;
}

.hire-developers-eight-card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 10px 10px 10px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  text-align: center;
  padding-bottom: 40px;
}

.hire-developers-eight-card-body {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hire-developers-eight-card-content h3 {
  margin: 3px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
  font-family: "Red Hat Display", sans-serif;
}

.hire-developers-eight-card .icon {
  height: 80px;
  padding: 15px 15px 15px 15px;
  transform: rotate(0deg);
  width: 80px;
  line-height: 53px;
  border-radius: 100px 100px 100px 100px;
  text-align: center !important;
  display: flex;
  justify-content: center;
}

.hire-developers-eight-card-icon {
  font-size: 45px;
  color: #fff;
}

.hire-developers-eight-card .icon-1 {
  background-color: #2575fc;
}

.hire-developers-eight-card .icon-2 {
  background-color: #6a11cb;
}

.hire-developers-eight-card .icon-3 {
  background-color: #06b37c;
}

.hire-developers-eight-card .icon-4 {
  background-color: #ce25fc;
}

.hire-developers-eight-card .icon-5 {
  background-color: #6a11cb;
}

.hire-developers-eight-card .title-1 {
  color: #2575fc;
}

.hire-developers-eight-card .title-2 {
  color: #6a11cb;
}
.hire-developers-eight-card .title-3 {
  color: #06b37c;
}
.hire-developers-eight-card .title-4 {
  color: #0706b3;
}

.hire-developers-eight-card .title-5 {
  color: #6a11cb;
}

.hire-developers-eight-card:hover .icon-1 .hire-developers-eight-card-icon {
  color: #2575fc;
}

.hire-developers-eight-card:hover .icon-2 .hire-developers-eight-card-icon {
  color: #6a11cb;
}

.hire-developers-eight-card:hover .icon-3 .hire-developers-eight-card-icon {
  color: #06b37c;
}

.hire-developers-eight-card:hover .icon-4 .hire-developers-eight-card-icon {
  color: #0706b3;
}

.hire-developers-eight-card:hover .icon-5 .hire-developers-eight-card-icon {
  color: #6a11cb;
}

.hire-developers-eight-card:hover .icon {
  background-color: white;
}

.hire-developers-eight-card:hover .icon-1 {
  border: 1px solid #2575fc;
}

.hire-developers-eight-card:hover .icon-2 {
  border: 1px solid #6a11cb;
}

.hire-developers-eight-card:hover .icon-3 {
  border: 1px solid #06b37c;
}

.hire-developers-eight-card:hover .icon-4 {
  border: 1px solid #0706b3;
}

.hire-developers-eight-card:hover .icon-5 {
  border: 1px solid #6a11cb;
}

/* Ninth row */

.hire-developers-nine {
  padding-top: 50px;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 50px;
}

.hire-developers-nine-card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 10px 10px 10px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  text-align: center;
  padding-bottom: 40px;
}

.hire-developers-nine-card-body {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hire-developers-nine-card-content h3 {
  margin: 3px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
  font-family: "Red Hat Display", sans-serif;
}

.hire-developers-nine-card .icon {
  height: 80px;
  padding: 15px 15px 15px 15px;
  transform: rotate(0deg);
  width: 80px;
  line-height: 53px;
  border-radius: 100px 100px 100px 100px;
  text-align: center !important;
  display: flex;
  justify-content: center;
}

.hire-developers-nine-card-icon {
  font-size: 45px;
  color: #fff;
}

.hire-developers-nine-card .icon-1 {
  background-color: #2575fc;
}

.hire-developers-nine-card .icon-2 {
  background-color: #6a11cb;
}

.hire-developers-nine-card .icon-3 {
  background-color: #06b37c;
}

.hire-developers-nine-card .icon-4 {
  background-color: #ce25fc;
}

.hire-developers-nine-card .icon-5 {
  background-color: #6a11cb;
}

.hire-developers-nine-card .title-1 {
  color: #2575fc;
}

.hire-developers-nine-card .title-2 {
  color: #6a11cb;
}
.hire-developers-nine-card .title-3 {
  color: #06b37c;
}
.hire-developers-nine-card .title-4 {
  color: #0706b3;
}

.hire-developers-nine-card .title-5 {
  color: #6a11cb;
}

.hire-developers-nine-card:hover .icon-1 .hire-developers-nine-card-icon {
  color: #2575fc;
}

.hire-developers-nine-card:hover .icon-2 .hire-developers-nine-card-icon {
  color: #6a11cb;
}

.hire-developers-nine-card:hover .icon-3 .hire-developers-nine-card-icon {
  color: #06b37c;
}

.hire-developers-nine-card:hover .icon-4 .hire-developers-nine-card-icon {
  color: #0706b3;
}

.hire-developers-nine-card:hover .icon-5 .hire-developers-nine-card-icon {
  color: #6a11cb;
}

.hire-developers-nine-card:hover .icon {
  background-color: white;
}

.hire-developers-nine-card:hover .icon-1 {
  border: 1px solid #2575fc;
}

.hire-developers-nine-card:hover .icon-2 {
  border: 1px solid #6a11cb;
}

.hire-developers-nine-card:hover .icon-3 {
  border: 1px solid #06b37c;
}

.hire-developers-nine-card:hover .icon-4 {
  border: 1px solid #0706b3;
}

.hire-developers-nine-card:hover .icon-5 {
  border: 1px solid #6a11cb;
}

/* Tenth row */

.hire-developers-ten {
  padding-top: 50px;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 50px;
}

.hire-developers-ten-card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 10px 10px 10px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  text-align: center;
  padding-bottom: 40px;
}

.hire-developers-ten-card-body {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hire-developers-ten-card-content h3 {
  margin: 3px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
  font-family: "Red Hat Display", sans-serif;
}

.hire-developers-ten-card .icon {
  height: 80px;
  padding: 15px 15px 15px 15px;
  transform: rotate(0deg);
  width: 80px;
  line-height: 53px;
  border-radius: 100px 100px 100px 100px;
  text-align: center !important;
  display: flex;
  justify-content: center;
}

.hire-developers-ten-card-icon {
  font-size: 45px;
  color: #fff;
}

.hire-developers-ten-card .icon-1 {
  background-color: #2575fc;
}

.hire-developers-ten-card .icon-2 {
  background-color: #6a11cb;
}

.hire-developers-ten-card .icon-3 {
  background-color: #06b37c;
}

.hire-developers-ten-card .icon-4 {
  background-color: #ce25fc;
}

.hire-developers-ten-card .icon-5 {
  background-color: #6a11cb;
}

.hire-developers-ten-card .title-1 {
  color: #2575fc;
}

.hire-developers-ten-card .title-2 {
  color: #6a11cb;
}
.hire-developers-ten-card .title-3 {
  color: #06b37c;
}
.hire-developers-ten-card .title-4 {
  color: #0706b3;
}

.hire-developers-ten-card .title-5 {
  color: #6a11cb;
}

.hire-developers-ten-card:hover .icon-1 .hire-developers-ten-card-icon {
  color: #2575fc;
}

.hire-developers-ten-card:hover .icon-2 .hire-developers-ten-card-icon {
  color: #6a11cb;
}

.hire-developers-ten-card:hover .icon-3 .hire-developers-ten-card-icon {
  color: #06b37c;
}

.hire-developers-ten-card:hover .icon-4 .hire-developers-ten-card-icon {
  color: #0706b3;
}

.hire-developers-ten-card:hover .icon-5 .hire-developers-ten-card-icon {
  color: #6a11cb;
}

.hire-developers-ten-card:hover .icon {
  background-color: white;
}

.hire-developers-ten-card:hover .icon-1 {
  border: 1px solid #2575fc;
}

.hire-developers-ten-card:hover .icon-2 {
  border: 1px solid #6a11cb;
}

.hire-developers-ten-card:hover .icon-3 {
  border: 1px solid #06b37c;
}

.hire-developers-ten-card:hover .icon-4 {
  border: 1px solid #0706b3;
}

.hire-developers-ten-card:hover .icon-5 {
  border: 1px solid #6a11cb;
}
