/* ----------------------------------
   About Us Section Styles
---------------------------------- */

/* Background color for the About Us section */
.about-us {
  background-color: rgb(0, 73, 177, 0.9);
  z-index: 1;
}

/* Styles for the image used in the About Us section background */
.about-us-image {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

/* Padding and spacing for the content within the About Us section */
.about-us-content {
  padding-left: 110px;
  padding-right: 130px;
  padding-top: 160px;
  padding-bottom: 160px;
}

/* ----------------------------------
       Text Styles
---------------------------------- */

/* Styles for the "Find Out More" text, including color and font properties */
.find-out-more-text {
  color: #0ec6ff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4em;
  font-family: "Red Hat Display", sans-serif;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

/* Styles for the main description text in the About Us section */
.about-us-description {
  margin: 0 0 20px;
  color: #ffffff;
  font-size: 16px;
  line-height: 36px;
  font-family: "Red Hat Text", sans-serif;
}

/* Styles for the title text in the About Us section */
.about-us-title {
  color: #ffffff;
  font-size: 30px;
  line-height: 40px;
  font-weight: 900;
  font-family: "Red Hat Display", sans-serif;
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
}

/* ----------------------------------
       Button Styles
---------------------------------- */

/* Styles for the "Start Now" button, including color, background, and layout */
.start-now-button {
  color: #fff;
  background: #fe4c1c;
  text-align: left;
  padding: 5px 5px 5px 28px;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: bold;
  letter-spacing: 0;
  cursor: pointer;
  border: 1px solid transparent;
  outline: 0;
  position: relative;
  font-family: "Red Hat Display", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 25px;
}

.start-now-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2); /* Adjust color if needed */
  transition: left 0.4s ease;
  z-index: 0;
}

.start-now-button:hover::before {
  left: 100%;
}

.start-now-button:hover {
  color: white;
  background-color: #fe4c1c;
}

.start-now-button .arrow-icon {
  position: relative;
  z-index: 1;
}

/* ----------------------------------
       Icon Styles
---------------------------------- */

/* Styles for an arrow icon, including background, color, and dimensions */
.arrow-icon {
  background-color: #ffffff;
  color: #fe4c1c;
  border-radius: 50px;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 14px;
}

/* Styles for a play button icon, including size, color, and hover effect */
.play-icon {
  width: 48px;
  height: 48px;
  line-height: 49px;
  font-size: 18px;
  color: #00c3ff;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 10px;
  margin-left: 10px;
  align-items: center;
  box-shadow: 0 12px 24px rgba(126, 173, 235, 0.4);
  cursor: pointer;
}

/* Hover effect for the play button icon, changing background and text color */
.play-icon:hover {
  background-color: #00c3ff;
  color: white;
}

/* ----------------------------------
       How It Works Container
---------------------------------- */

/* Styles for the container of the "How It Works" section, using flexbox */
.how-it-works-container {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin-top: 10px;
  box-sizing: border-box;
}

/* Styles for the text in the "How It Works" section, including color and font */
.how-it-works-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  margin-left: 15px;
  font-family: "Red Hat Display", sans-serif;
}
